//always a pointer, even if it's a local reference or a ng-click
a {
  cursor: pointer;
}

h1 {
  color: $primaryDarkText;
  font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: $primaryDarkText;
  font-family: 'Lato', sans-serif;
}

section {
  clear: both;
  padding: 20px;
  background-color: $primarySectionBackground;
}

svg {
  display: block;
}

.nav {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 30px;
  line-height: 30px;
}

.footer {
  clear: both;
  color: $primaryDarkText;
}

.half {
  width: 50%;
}

.container {
  @include border-radius(4px, 4px);
  background-color: $primaryContainerBackground;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: $highlightBackground;
  color: $highlightText;
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: $primaryBackground;
  font-family: 'Arimo', sans-serif;
  font-size: 14.3px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;

  td {
    border: 1px solid black;
    padding: 5px;
  }

  tr:nth-child(even) {
    background: lightgray;
  }

  &.static-two-column {
    td {
      width: 50%;
    }
  }
}