$primaryBackground: #E09208;
$primarySectionBackground: #FFFFFF;
$primaryContainerBackground: #FFFFFF;
$highlightBackground: #4B7AFC;
$primaryDarkText: #F5B000;
$highlightText: #113BAF;

@import "compass/css3";
@import "compass/utilities";