<section>
  <div class="pull-right">
    <p><a href="">Download Resume</a></p>
    <p><a href="http://www.linkedin.com/pub/dane-stuckel/17/187/432">LinkedIn Profile</a></p>
  </div>
</section>

<section>
  <h1>Telecommunication Systems</h1>
  <p>Senior UI Developer</p>
</section>
<section>
  <h1>Shaw Communications</h1>
  <p>Lead Developer</p>
</section>
<section>
  <h1>Zedi</h1>
  <p>Full-stack Developer</p>
</section>
<section>
  <h1>Canadian Wildlife Service</h1>
  <p>Database Expert</p>
</section>
<section>
  <h1>Interaction Lab</h1>
  <p>Researcher and Masters Student</p>
</section>

